body {
  background-color: #1c3a7b;
  color: white;
  margin: 0;
  padding: 30px 119px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
a {
  color: tomato;
  margin: 0 12px;
}
h2 {
  color: #2cb460;
  font-size: 32px;
}
h3 {
  font-size: 24px;
}

.header {
  text-align: center;
}
.footer {
  background-color: #11244d;
  text-align: center;
  padding: 20px 0;
  margin-top: 32px;
}
